
# Dependencies
**/node_modules/

# Build outputs
**/.next/
**/dist/
**/out/
**/build/

# Environment variables
**/.env*
!**/.env.example

# OS files
**/.DS_Store

# Logs
*.log
*.log*

# TypeScript
*.tsbuildinfo
**/next-env.d.ts